# MODEL INFERANCE P1M1

Name : Iqbal Janitra

Batch : 003

# IMPORT LIBRARIES

In [38]:
import pandas as pd
import numpy as np 
import pickle
import ast
import joblib

# LOAD MODEL

In [39]:
with open('model_rf_model.pkl', 'rb') as file_1:
  model_rf_model= joblib.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler=joblib.load(file_2)

with open('list_num_cols.txt', 'rb') as file_4:
  num_cols= joblib.load(file_4)

with open('list_cat_cols.txt', 'rb') as file_5:
  cat_cols= joblib.load(file_5)

# MAKE RANDOM DATA

In [40]:
random = np.random.default_rng(seed=2895)
limit_balance = random.choice(np.arange(10000, 800000, 10000), size=30)
pay_0 = random.integers(-2.0, 8.0, size=30)
pay_2 = random.integers(-2.0, 7.0, size=30)
pay_3 = random.integers(-2.0, 7.0, size=30)
pay_4 = random.integers(-2.0, 8.0, size=30)
pay_5 = random.integers(-2.0, 7.0, size=30)
pay_6 = random.integers(-2.0, 7.0, size=30)
data_inf = pd.DataFrame({'limit_balance' : limit_balance, 'pay_0' : pay_0, 'pay_2' : pay_2, 'pay_3' : pay_3, 'pay_4' : pay_4, 'pay_5' : pay_5, 'pay_6' : pay_6})
data_inf

    limit_balance  pay_0  pay_2  pay_3  pay_4  pay_5  pay_6
0           40000      2      3      4      7      3      5
1          790000     -2      5      3      6      2      2
2          400000      0     -2      5      0      2      3
3           60000      3      6      3     -1      3      3
4          280000      2      2      2      7      2      3
5          540000      5     -1      6      4      6      1
6          100000      0      1      0      5     -2      5
7          590000      1      4      1      7     -2      1
8          430000      3      1      0     -1      6     -2
9          660000     -1      1     -1      6      2      5
10         620000      1      0      3      6      4      6
11         780000      5      0      6     -2      0      5
12         150000      7      5     -2      2      4      1
13         330000      0      1      6      7      5      0
14         640000     -2      5      3     -1      6      1
15         460000      5      3      6      1      2      4
16         540000      4      4      2      2      4      6
17         260000      0      0      4      0      4      1
18         660000      2      3      1      6     -2     -2
19         680000      7     -2      5      4     -2     -2
20         580000     -1      3      5      2      1      1
21         360000      7      6      3      0      2      5
22         530000      1      6      2      5      5      4
23         570000      3      3      1      7      1     -1
24         490000      4      5      5     -2      5      1
25          90000      2      0     -2      4      3     -1
26         580000      6      4      4      4      2      0
27         570000     -1     -2      4      6      0     -2
28         130000     -1      5      0      7      6      2
29         390000      1      0      6      6     -1      0

# MODEL

In [41]:
data_inf_num = data_inf[num_cols]
data_inf_cat = data_inf[cat_cols]

In [42]:
data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = data_inf_cat

In [43]:
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat], axis=1)

### MODEL PREDICTION

The code you provided is using the `predict` function from a Random Forest model `model_rf_model` to make predictions on a new dataset called data_inf_final. The predict function will return an array of predicted labels for each data point in `default_payment_next_month` based on the feature we choose

In [44]:
y_pred_inf = model_rf_model.predict(data_inf_final)
y_pred_inf

array([1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0])

In [45]:
predict = pd.DataFrame(y_pred_inf, columns=["Prediction"])

In [46]:
predict

    Prediction
0            1
1            0
2            0
3            1
4            1
5            1
6            0
7            0
8            0
9            0
10           0
11           1
12           1
13           0
14           0
15           1
16           1
17           0
18           0
19           0
20           0
21           1
22           1
23           1
24           1
25           1
26           1
27           0
28           0
29           0

In [47]:
result = pd.concat([data_inf, pd.DataFrame(y_pred_inf, columns=["Prediction Default Payment Next Month"])], axis=1)

In [48]:
result

,limit_balance,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,Prediction Default Payment Next Month
0,40000,2,3,4,7,3,5,1
1,790000,-2,5,3,6,2,2,0
2,400000,0,-2,5,0,2,3,0
3,60000,3,6,3,-1,3,3,1
4,280000,2,2,2,7,2,3,1
5,540000,5,-1,6,4,6,1,1
6,100000,0,1,0,5,-2,5,0
7,590000,1,4,1,7,-2,1,0
8,430000,3,1,0,-1,6,-2,0
9,660000,-1,1,-1,6,2,5,0
10,620000,1,0,3,6,4,6,0
11,780000,5,0,6,-2,0,5,1
12,150000,7,5,-2,2,4,1,1
13,330000,0,1,6,7,5,0,0
14,640000,-2,5,3,-1,6,1,0
15,460000,5,3,6,1,2,4,1
16,540000,4,4,2,2,4,6,1
17,260000,0,0,4,0,4,1,0
18,660000,2,3,1,6,-2,-2,0
19,680000,7,-2,5,4,-2,-2,0
20,580000,-1,3,5,2,1,1,0
21,360000,7,6,3,0,2,5,1
22,530000,1,6,2,5,5,4,1
23,570000,3,3,1,7,1,-1,1
24,490000,4,5,5,-2,5,1,1
25,90000,2,0,-2,4,3,-1,1
26,580000,6,4,4,4,2,0,1
27,570000,-1,-2,4,6,0,-2,0
28,130000,-1,5,0,7,6,2,0
29,390000,1,0,6,6,-1,0,0